<!-- Button: Show Map -->
<div class="map-button">
  <h3><button id="display-button" class="btn btn-default" type="geocode">SHOW ON MAP</button></h3>
</div>

<!-- Geocoding Map -->
<div id="map" class="hidden-map" style="width: 100%;"></div>

<!-- Results Display -->
<div class="cards">
  <% @vans.each do |van| %>
    <% photo_url = van.photo? ? van.photo : 'lix2bqmp4kzdpu4sqjiy' %>
    <div class="card" style="background-image: url(<%= cl_image_path photo_url %>);">
      <div class="card-body">
        <h4><%= van.make %></h4>
        <h6><light><%= van.location %></light></h6>
        <h6><light>£<%= number_with_delimiter(van.price) %></light></h6>
        <%= link_to "", van_path(van), class: "card-link" %>
      </div>
    </div>
  <% end %>
</div>

<%= content_for(:title, 'Le Campeur') %>

<!-- JavaScript: Toggle Map Display -->
<% content_for(:after_js) do %>
  <script>
    // Snazzy Maps
    var styles = [
                  {
                      "featureType": "poi",
                      "elementType": "all",
                      "stylers": [
                          {
                              "hue": "#000000"
                          },
                          {
                              "saturation": -100
                          },
                          {
                              "lightness": -100
                          },
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "poi",
                      "elementType": "all",
                      "stylers": [
                          {
                              "hue": "#000000"
                          },
                          {
                              "saturation": -100
                          },
                          {
                              "lightness": -100
                          },
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative",
                      "elementType": "all",
                      "stylers": [
                          {
                              "hue": "#000000"
                          },
                          {
                              "saturation": 0
                          },
                          {
                              "lightness": -100
                          },
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "hue": "#ffffff"
                          },
                          {
                              "saturation": -100
                          },
                          {
                              "lightness": 100
                          },
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "water",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "hue": "#000000"
                          },
                          {
                              "saturation": -100
                          },
                          {
                              "lightness": -100
                          },
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "road.local",
                      "elementType": "all",
                      "stylers": [
                          {
                              "hue": "#ffffff"
                          },
                          {
                              "saturation": -100
                          },
                          {
                              "lightness": 100
                          },
                          {
                              "visibility": "on"
                          }
                      ]
                  },
                  {
                      "featureType": "water",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "hue": "#ffffff"
                          },
                          {
                              "saturation": -100
                          },
                          {
                              "lightness": 100
                          },
                          {
                              "visibility": "on"
                          }
                      ]
                  },
                  {
                      "featureType": "transit",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "hue": "#000000"
                          },
                          {
                              "saturation": 0
                          },
                          {
                              "lightness": -100
                          },
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "hue": "#000000"
                          },
                          {
                              "saturation": -100
                          },
                          {
                              "lightness": -100
                          },
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "hue": "#bbbbbb"
                          },
                          {
                              "saturation": -100
                          },
                          {
                              "lightness": 26
                          },
                          {
                              "visibility": "on"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "hue": "#dddddd"
                          },
                          {
                              "saturation": -100
                          },
                          {
                              "lightness": -3
                          },
                          {
                              "visibility": "on"
                          }
                      ]
                  }
              ];
    // Toggle Button for Map Display
    const map = document.getElementById("map");
    document.getElementById('display-button').onclick = function() {
      map.classList.toggle("shown-map")
    };

    // Geocoding
    var handler = Gmaps.build('Google');
    handler.buildMap({
      provider: {
        styles: styles
      }, internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
    });
  </script>
<% end %>
