<div class="cards">
  <% @vans.each do |van| %>
    <% photo_url = van.photo? ? van.photo : 'lix2bqmp4kzdpu4sqjiy' %>
      <!-- Photo exists on seed/Cloudinary -->
    <div class="card" style="background-image: url(<%= cl_image_path photo_url %>);">
      <div class="card-body">
        <h5><%= van.make %> <%= van.model %></h5>
        <h5>£<%= van.price %></h5>
        <%= link_to "", van_path(van), class: "card-link" %>
      </div>
    </div>
  <% end %>
</div>

<%= content_for(:title, 'Le Campeur') %>
