<div class="title padding">
  <h3><%= @van.make %> <%= @van.model %></h3>
</div>

<div class="link padding">
  <!-- Display All Vans -->
  <%= link_to "BACK TO RESULTS", vans_path %>
  <!-- Edit Van -->
  <% if policy(@van).edit? %>
    | <%= link_to "EDIT", edit_van_path(@van) %> |
  <% end %>
  <!-- Delete Van -->
  <% if policy(@van).destroy? %>
    <%= link_to "DELETE", van_path(@van), method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
  <% end %>
</div>

<div class="display">
  <!-- Description -->
  <div class="description spacing">
    <h5><strong>DESCRIPTION</strong></h5>
    <p><%= @van.description %></p>
    <br>
    <h5><strong>PRICE</strong></h5>
    <p>£<%= @van.price %></p>
  </div>

  <!-- Location -->
  <div class="details spacing">
    <!-- Geocoding on location? -->
    <h5><strong>LOCATION</strong></h5>
    <p><%= @van.location %></p>
    <br>
    <h5><strong>DETAILS</strong></h5>
    <ul-inline>
      <li><i class="fa fa-bus" aria-hidden="true"></i> <%= @van.make %> <%= @van.model %></li>
      <li><i class="fa fa-bed" aria-hidden="true"></i> <%= @van.bed %> bed(s) | <%= @van.sleep %> person(s)</li>
      <li>
        <i class="fa fa-bath" aria-hidden="true"></i>
        <%= @van.bathroom ? "Bathroom included" : "Bathroom not included" %>
      </li>
      <li>
        <i class="fa fa-fire" aria-hidden="true"></i>
        <%= @van.kitchen ? "Kitchen included" : "Kitchen not included" %></li>
    </ul>
  </div>

  <!-- Booking Form -->
  <div class="booking-form spacing">
    <h5><strong>BOOKING FORM</strong></h5>

    <p>This is a booking form request.</p>
    <%= link_to "Book a van", new_van_rental_path(@van),class: "btn btn-default" %>
  </div>

  <!-- Reviews -->
  <div class="reviews spacing">
    <h5>
      <strong>REVIEWS</strong>
      (<%= @van.reviews.count %> reviews)
    <!-- Average reviews -->
    <%= link_to new_van_review_path(@van) do %>
      <i class="fa fa-plus" aria-hidden="true"></i>
    <% end %>
    </h5>
    <!-- Listing of last three individual reviews -->
    <ul-inline>
      <% @van.reviews.last(3).each do |review| %>
        <li>
          <% review.score.times do %>
            <i class="fa fa-star"></i>
          <% end %>
          <% (5 - review.score).times do %>
            <i class="fa fa-star-o"></i>
          <% end %>
          <%= review.description %>
          <%= link_to "VIEW", review %>
        </li>
        <% end %>
    </ul>

  </div>

<%= content_for(:title, @van.model) %>
