<div class="title">
  <h3><%= @van.make %> <%= @van.model %></h3>
</div>

<div class="display">
  <!-- Description -->
  <div class="description spacing">
    <h5><strong>Description</strong></h5>
    <p><%= @van.description %></p>
    <br>
    <ul-inline>
      <li><i class="fa fa-bus" aria-hidden="true"></i> <%= @van.make %> <%= @van.model %></li>
      <li><i class="fa fa-bed" aria-hidden="true"></i> <%= @van.bed %> bed(s) | <%= @van.sleep %> people</li>
      <li>
        <i class="fa fa-bath" aria-hidden="true"></i>
        <%= @van.bathroom ? "Bathroom included" : "Bathroom not included" %>
      </li>
      <li>
        <i class="fa fa-fire" aria-hidden="true"></i>
        <%= @van.kitchen ? "Kitchen included" : "Kitchen not included" %></li>
    </ul>

<hr>
    <!-- Table testing -->

    <table>
      <thead>
      </thead>

      <tbody>
        <td>
          <tc><i class="fa fa-bed" aria-hidden="true"></i></tc>
          <tc>hello 1</tc>
        </td>
        <tr>
          <tc><i class="fa fa-bath" aria-hidden="true"></i></tc>
          <tc>hello 2</tc>
        </tr>
      </tbody>
    </table>

  </div>

  <!-- Location -->
  <div class="location spacing">
    <!-- Geocoding on location? -->
    <p><strong>Location:</strong></p>
    <%= @van.location %>
  </div>

  <!-- Booking Form -->
  <div class="booking-form spacing">
    <h5><strong>Booking Form</strong></h5>
    <p>This is a booking form request.</p>
  </div>

  <!-- Reviews -->
  <div class="reviews spacing">
    <h5><strong>Reviews</strong></h5>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </div>
</div>

<div class="link">
  <!-- Edit Van -->
  <% if policy(@van).edit? %>
    <%= link_to "Edit Van", edit_van_path(@van) %>
  <% end %>
  <!-- Delete Van -->
  <% if policy(@van).destroy? %>
    <%= link_to "Delete Van", van_path(@van), method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
  <% end %>
</div>
