<div class="display">

  <!-- Rental Details -->
  <div class="rental_details" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(<%= cl_image_path van.photo %>)";>
    <!-- Some code here -->
  </div>

  <!-- Description -->
  <div class="description" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(<%= cl_image_path van.photo %>)";>
    <!-- Some code here -->
  </div>

  <!-- Booking Form -->
  <div class="booking_form" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(<%= cl_image_path van.photo %>)";>
    <!-- Some code here -->
  </div>

  <!-- Reviews -->
  <div class="reviews" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(<%= cl_image_path van.photo %>)";>
    <!-- Some code here -->
  </div>

  <!-- Photo Gallery -->
  <div class="photos" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(<%= cl_image_path van.photo %>)";>
    <!-- Some code here -->
  </div>
</div>
