<div class="display">
  <!-- Banner -->
  <% photo_url = @van.photo? ? @van.photo : 'lix2bqmp4kzdpu4sqjiy' %>
  <div class="image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path photo_url %>)">
    <!-- Title and Booking -->
    <div class="booking">
      <h1><%= @van.make.upcase %> <%= @van.model.upcase %></h1>
      <h4><%= @van.description %></h4>
      <h6>£<%= number_with_delimiter(@van.price) %></h6><br>
      <!-- Book Van -->
      <h3>
        <% if policy(@van).edit? == false %>
          <%= link_to "BOOK", new_van_rental_path(@van),class: "btn btn-default" %>
        <% end %>
        <!-- Edit Van -->
        <% if policy(@van).edit? %>
          <%= link_to "EDIT", edit_van_path(@van), class: "btn btn-default" %>
        <% end %>
        <!-- Delete Van -->
        <% if policy(@van).destroy? %>
          <%= link_to "DELETE", van_path(@van), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
        <% end %>
      </h3>
    </div>
  </div>

  <!-- Map Display -->
  <div class="location">
      <div id="map-show" style="width: 100%; height: 100%;"></div>
  </div>

  <!-- Details -->
  <div class="details">
    <div class="spacing">
      <!-- Geocoding on location? -->
      <h5><strong>LOCATION</strong></h5>
      <p><%= @van.location %></p>
      <br>
      <h5><strong>DETAILS</strong></h5>
      <ul-inline>
        <li><i class="fa fa-bed" aria-hidden="true"></i>&nbsp
          <% if @van.bed == 1 %>
            <%= @van.bed %> bed |
          <% else %>
            <%= @van.bed %> beds |
          <% end %>
          <% if @van.sleep == 1 %>
            <%= @van.sleep %> person
          <% else %>
            <%= @van.sleep %> people
          <% end %>
        </li>
        <li>
          <i class="fa fa-bath" aria-hidden="true"></i>&nbsp
          <%= @van.bathroom ? "Bathroom included" : "Bathroom not included" %>
        </li>
        <li>
          <i class="fa fa-fire" aria-hidden="true"></i>&nbsp
          <%= @van.kitchen ? "Kitchen included" : "Kitchen not included" %></li>
      </ul>
    </div>
  </div>

  <!-- Reviews -->
  <div class="reviews">
    <div class="spacing">
      <h5>
        <strong>REVIEWS</strong>&nbsp
        <% if @van.reviews.count == 1 %>
          (<%= @van.reviews.count %> review)
        <% else %>
          (<%= @van.reviews.count %> reviews)
        <% end %>
      </h5>
      <p>
        <div class="link">
          <!-- Add Reviews -->
          <% if policy(@van).edit? == false %>
            <%= link_to "ADD", new_van_review_path(@van) %> &nbsp|&nbsp
          <% end %>
          <!-- List All Reviews for Van -->
          <%= link_to "SHOW ALL", van_reviews_path(@van) %>
        </div>
      </p>
      <!-- Pop Up -->
      <ul-inline>
        <% @van.reviews.last(5).each do |review| %>
          <li>
            <% review.score.times do %>
              <i class="fa fa-star"></i>
            <% end %>
            <% (5 - review.score).times do %>
              <i class="fa fa-star-o"></i>
            <% end %>
            - <%= User.find(review.user_id).first_name %> | <%= review.created_at.strftime("%d %b %Y") %> &nbsp
            <!-- Pop Up "Link" -->
            <div class="popup" id="popupclick" onclick >
              <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
              <!-- Pop Up Display -->
              <span class="popuptext" id="popup-display">
                <p>
                  <% review.score.times do %>
                    <i class="fa fa-star"></i>
                  <% end %>
                  <% (5 - review.score).times do %>
                    <i class="fa fa-star-o"></i>
                  <% end %>
                </p>
                <p><%= review.description %></p>
                <p>
                  <% if review.photo? %>
                    <%= cl_image_tag review.photo, height: 130, width: 130, crop: :fill %>
                  <% end %>
                    </p>
              </span>
              </div>
              <%= link_to "DETAILS", review_path(review) %>
          </li>
        <% end %>
      </ul-inline>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    // Google Maps
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map-show' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
    });
    // Snazzy Maps - Theme: Cool Grey
    var styles = [
                  {
                      "featureType": "landscape",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "transit",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "poi",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "water",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "labels.icon",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "stylers": [
                          {
                              "hue": "#00aaff"
                          },
                          {
                              "saturation": -100
                          },
                          {
                              "gamma": 2.15
                          },
                          {
                              "lightness": 12
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "labels.text.fill",
                      "stylers": [
                          {
                              "visibility": "on"
                          },
                          {
                              "lightness": 24
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "lightness": 57
                          }
                      ]
                  }
                ];
      handler.buildMap({
        provider: {
          styles: styles
        }, internal: { id: "map-show" } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(14);
      });
    // Pop Up

    // popup.classList.toggle("show");

        var popup = document.querySelectorAll("#popupclick");
        popup.forEach(function(value) {
          id = 1;
          value.classList.add(`popup${id}`);
          id = id + 1;
          });
        popup.forEach(function(element) {
          element.addEventListener("click", (event) => {
            element.children[1].classList.toggle("show")
          })
        });
  </script>
<% end %>

<%= content_for(:title, @van.model) %>
