<div class="container" id="dashboard">
  <div class="row">
    <%= cl_image_tag @user.photo, class: 'avatar' %>
  </div>
  <div class="row">
    <div class="col-sm-6" id="pro">
      <h3>Profile</h3>
        <table style="width = 500px;">
          <tr>
            <td>First name</td>
            <td><%= @user.first_name %></td>
          </tr>

          <tr>
            <td>Last name</td>
            <td><%= @user.last_name %></td>
          </tr>

          <tr>
            <td>Email</td>
            <td><%= @user.email %></td>
          </tr>

        </table>
        <br>
        <%= link_to 'Edit', edit_user_registration_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>

<%= content_for(:title, 'Edit User - Le Campeur') %>
