<div class="advance-search-bar">

  <div class="container">
    <div class="row">

      <div class="col-3">
        <%= form_tag(vans_path, method: :get) do %>
          <%= text_field_tag :query %>
          <%= date_field(:rental, :start_date) %>
          <%= date_field(:rental, :end_date) %>
          <%= submit_tag 'Search' %>
        <% end %>
      </div>

  <!-- start_date -->
      <!-- <div class="col">
        <div class="field-wrapper">
          <a href="javascript:void(0)" class="btn btn-dd btn-price">Start date<i class="fa fa-angle-down"></i></a>
          <div class="dd-content dd-price ddc-hide">

            <div class="row">

              <div class="col-6">
                <div class="form-group asb-field">
                  <span></span>
                  <select name="" id="" class="form-control">
                    <option value=""></option>

                  </select>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div> -->

  <!-- end_date -->
     <!--  <div class="col">
        <div class="field-wrapper">
          <a href="javascript:void(0)" class="btn btn-dd btn-price">End date<i class="fa fa-angle-down"></i></a>
          <div class="dd-content dd-price ddc-hide">

            <div class="row">

              <div class="col-6">
                <div class="form-group asb-field">
                  <span></span>
                  <select name="" id="" class="form-control">
                    <option value=""></option>
                  </select>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div> -->

  <!-- search button -->
      <!-- <div class="col">
        <div class="field-wrapper">
          <a href="javascript:void(0)" class="btn btn-search"><i class="fa fa-search"></i> Search</a>
        </div>
      </div> -->

    </div>
  </div>
</div>
