<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('http://res.cloudinary.com/joycelewagon/image/upload/v1510750617/hfxsxwnvfij3w15mvccl.jpg')">
  <div class="booking">
    <h1><%= @status %> Time to get excited <%= @user_name %></h1>
    <h2><%= @rented_message_one %> <%= @rented_message_two %></h2>
    <h2><%= @status_two %> <%= @status_three %> <%= @status_four %></h2>
  </div>
</div>

<div class="container margin-top">
  <div class="row">
    <% @rentals.each do |rental| %>
    <div class="col-xs-4">
      <% @van = rental.van %>
      <% @van_owner = @van.user %>
      <% @rating = Review.where(van: @van).average(:score).to_i %>
      <% days = (rental.start_date - Date.today).to_i %>

      <div class="booking__card text-center">
        <div class="card__thumb" style="background-image: url('<%= cl_image_path rental.van.photo, width: 800, height: 400, crop: :fill %>')">
        </div>
        <div class="card__date">
          <span class="card__date__day"><%= rental.start_date.strftime("%d") %></span>
          <br/>
          <span class="card__date__month"><%= rental.start_date.strftime("%b") %></span>
        </div>


        <div class="card__body">
          <div class="card__category"><%= days %> days until you are off to <%= rental.van.location %></div>
          <h2 class="card__title"></h2>
          <div class="card__subtitle"><%= rental.van.make %></div>
          <div class="card__description">
            <h5><strong>DETAILS</strong></h5>
            <ul>
              <li>
                <i class="fa fa-bed" aria-hidden="true"></i>&nbsp
                <%= @van.bed %> bed(s) | <%= @van.sleep %> person(s)
              </li>
              <li>
                <i class="fa fa-bath" aria-hidden="true"></i>&nbsp
                <%= @van.bathroom ? "Bathroom included" : "Bathroom not included" %>
              </li>
              <li>
                <i class="fa fa-fire" aria-hidden="true"></i>&nbsp
                <%= @van.kitchen ? "Kitchen included" : "Kitchen not included" %>
              </li>
            </ul>
          </div>
        </div>
        <div class="card__footer">
          <span class="icon ion-clock"></span>
          <% if @rating != 0 %>
          Average rating <%= @rating %>
          <% else %>
          Not yet rated!
          <% end %>
          <span class="icon ion-chatbox"></span><a href="#"></a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
