<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>New review for <%= @van.make %> <%= @van.model %></h1>

      <%= simple_form_for [@van, @review] do |f| %>
        <%= f.input :score, collection: 1..5 %>
        <%= f.input :description %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <br>
      <%= link_to van_path(@van) do %>
        <i class="fa fa-undo" aria-hidden="true"></i> Back to Van
      <% end %>
    </div>
  </div>
</div>

<%= content_for(:title, 'New Review - Le Campeur') %>
